*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fcfcfc;
  font-family: sans-serif;
}

#selector {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
  }

h1 
  {
    text-align: center;
    padding-top: 300px;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    }

#password{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    font-family: 'Alfa Slab One', cursive;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
}

button{
    margin-top: 50px;
}

#icons{
  list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    text-decoration: none;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
}

.socials a {
  font-size: 1.1rem;
  width: 25px;
  transition: color .4s ease;
}

.socials a:hover {
  color: aqua;
}

